<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %><br>

<h2><%=@user.name%></h2>
<h3><%="Created Characters"%></h3>
<% @user.characters.each do |character| %>
  <%= link_to "#{character.name}", user_character_path(@user,character) %>
<%end %>

<h3>Create new game</h3>
<%= link_to "New Game", new_user_game_path(@user.id) %>

<%# 
List of created games

create a new game %>
