<h2>New Game</h2>

<%= form_tag("/create", method: "post") do %>
  <p> Name your game's merchant: <%= text_field_tag :merchant_name %></p>
  <p> Give them a background: <%= text_field_tag :merchant_background %></p>
  <p> Please select the gender of your merchant </p>
  <%= collection_select(:merchant, :gender, @merchant.genders) %>

  <p> Name your character: <%= text_field_tag :character_name %></p>
  <p> Give them a background: <%= text_field_tag :character_background %></p>

  <%= submit_tag "Start New Game" %>
<% end %>
