<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %><br>


Enemy Name: <%=@enemy.name%><br>
<%# <%=@enemy.image %>
Enemy Health: <%=@enemy.health%><br>
<br>


Character Health:<%=@character.health%>


<%= form_tag("/update_battle", method: "post") do %>
  <%= hidden_field_tag :enemy_id, @enemy.id %>
  <%= hidden_field_tag :enemy_class, @enemy.class %>
  <%= hidden_field_tag :character_id, @character.id %>
  <%= button_tag "Attack" %>
<% end %>

<%= form_tag("/use_potion", method: "post") do %>
  <%= hidden_field_tag :character_id, @character.id %>
  <%= hidden_field_tag :enemy_class, @enemy.class %>
  <%= hidden_field_tag :enemy_id, @enemy.id %>
  <%= button_tag "Use Potion" %>
<% end %>

<%= link_to "Character Page", user_character_path(@character) %><br>





<%# <h2><%=@user.name%>
<%# <% @game.characters.each do |character|  %>
  <%# <%= link_to "#{character.name}", user_character_path(character) %>
<%# <%end%> 

<%# <h3>Create New Character</h3> %>
<%# <%= link_to "New Character", new_user_character_path %> 
