<h2><%=@merchant.name%></h2>
<%# <%= image_tag(@merchant.image_url) %>
<%# <h2><%@merchant.saying.sample</h2> %>

<h3>Your Current Gold Amount: <%=@character.gold%> </h3> 

<h2>Weapons</h2>
<% @merchant.weapons.each do |weapon| %>
  <%= link_to "#{weapon.name}", weapon_path(weapon) %><br>
    This Weapon Cost: <%= weapon.cost%>

  <%= form_tag("/buy_item", method: "post") do %>
    <%= hidden_field_tag :weapon_id, weapon.id %>
    <%= hidden_field_tag :merchant_id, @merchant.id %>
    <%= button_tag "Buy Item" %><br>
  <% end %><br>

<%end%><br>

<h2>Armors</h2>
<% @merchant.armors.each do |armor| %>
  <%= link_to "#{armor.name}", armor_path(armor) %><br>
    This Armor Cost: <%= armor.cost%>

  <%= form_tag("/buy_item", method: "post") do %>
    <%= hidden_field_tag :armor_id, armor.id %>
    <%= hidden_field_tag :merchant_id, @merchant.id %>
    <%= button_tag "Buy Item" %>
  <% end %><br>
<%end%><br>

<h2>Potions</h2>
<% @merchant.potions.each do |potion| %>
  <%= link_to "#{potion.name}", potion_path(potion) %><br>
  This Potion Cost: <%= potion.cost%>

  <%= form_tag("/buy_item", method: "post") do %>
    <%= hidden_field_tag :potion_id, potion.id %>
    <%= hidden_field_tag :merchant_id, @merchant.id %>
    <%= button_tag "Buy Item" %>
  <% end %><br>
<%end%><br>

<%= link_to "Character Page", user_character_path(@merchant.game.characters.last) %><br>
<%= link_to "Fight Enemies", user_game_path(@merchant.game)%><br>
<%= link_to "Fight Boss", boss_path %>

