<h2>Character Name</h2>
<h3><%=@character.name%></h3>

<h2>Current Equipped Weapon</h2>
<h3><%=@character.current_weapon%></h3>

<h2>Current Equipped Armor</h2>
<h3><%=@character.current_armor%></h3>


<br>
<%if @character.inventory.weapons.empty? && @character.inventory.armors.empty? %>
<%= "Seems like you don't have any equipment, you should go to the merchant!" %>
<%end%><br>
<%= link_to "Character Inventory", character_inventory_path(@character) %><br>
<%= link_to "Edit Character Information", edit_user_character_path(@character) %><br>
<%= link_to "Go To Merchant", merchant_path %><br>
<%if @character.inventory.weapons.present? && @character.inventory.armors.present? %>
<%= link_to "Fight Enemies", user_game_path(@character.game) %><br>
<%= link_to "Fight Boss", boss_path %>
<%end%>
