<h3>Weapons</h3>
<% @inventory.weapons.each do |weapon| %>
  <%= link_to "#{weapon.name}", weapon_path(weapon) %>
  

  <%= form_tag("/equip_weapon", method: "post") do %>
    <%= hidden_field_tag :weapon_id, weapon.id %>
    <%= hidden_field_tag :character_id, @inventory.character.id %>
    <%= button_tag "Equip Weapon" %><br>
  <% end %><br>
<%end%><br>

<h3>Armors</h3>
<% @inventory.armors.each do |armor| %>
  <%= link_to "#{armor.name}", armor_path(armor) %>

    <%= form_tag("/equip_armor", method: "post") do %>
    <%= hidden_field_tag :armor_id, armor.id %>
    <%= hidden_field_tag :character_id, @inventory.character.id %>
    <%= button_tag "Equip Armor" %><br>
  <% end %><br>
<%end%><br>

<%= link_to "Character Page", user_character_path(@inventory.character) %><br>
